# activation php5 (free.fr)
<ifDefine Free>
 PHP56 1
</ifDefine>

# Protection du fichier .htaccess
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Désactivation de l'affichage des répertoires
Options All -Indexes
