body
{
	background:white;	
}

#irealb #content,
#irealb #page
{
	margin: 0px;
	padding: 0px;
}

#irealb #footer, 
#irealb #menu,
#irealb .navBottom,
#irealb #song_menu,
#irealb #navViewer
{
    display: none;    
}

#irealb #grilleContainer 
{
 	left: 0;
    margin: auto;
    padding: 0;
    position: relative;
    top: 0;
    width: 768px;	
	transform: scale(0.87);
    transform-origin: 0 0 0;
}

@page { 
 size: A4;
}