
/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot");
    src: url("fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("fonts/Helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "BravuraRegular"; */
@font-face {
    font-family: "BravuraRegular";
    src: url("fonts/Bravura/Bravura.eot");
    src: url("fonts/Bravura/Bravura.eot?#iefix")format("embedded-opentype"),
    url("fonts/Bravura/Bravura.woff") format("woff"),
    url("fonts/Bravura/Bravura.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* BLOC PRINCIPAL */
#irealb #grilleContainer {
  background: white;
  color: black;
  display: block;
  padding:25px 0 50px 0;
  margin-bottom: 30px;
  position: relative;
}

/* TITRE */

#irealb #grilleContainer #titreGrille
{
  display: block;
  font-family: "HelveticaRegular", Helvetica,Arial,Tahoma,sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.2px;
  position: relative;
  text-align: center;
}


/*  INFOS DU MORCEAUX */

#irealb #grilleContainer #infosTab
{
  width:100%;
}

#irealb #grilleContainer #infosTab td {
  font-family: "HelveticaRegular", Helvetica,Arial,Tahoma,sans-serif;
  font-size: 26px;
  letter-spacing: 0.2px;
  padding: 0 7px;
  position: relative;
  top: -2px;
}

#irealb #grilleContainer #infosTab td:nth-child(1)
{
  text-align:left;
}

#irealb #grilleContainer #infosTab td:nth-child(2)
{
  text-align:right;
}




#irealb #grilleContainer a:hover,
#irealb #grilleContainer a:focus,
#irealb #grilleContainer a:visited,
#irealb #grilleContainer a:link
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#irealb #grilleContainer a:hover
{
	text-decoration: none;
	color: #0a7671;
}




/*
	TABLEAU DE LA GRILLE 	
113 de hauteur et 45.5px de largeur pour une resolution de 768 par 1024 
*/

#grille {
  margin-top: -5.5px;
  position: relative;
  text-align: left;
  width: 768px;
}

#grille span
{
  display: block;
  position: absolute;
}

/* TABLEAU GRILLE */ 

#grille tr{
  display: block;
  height: 113px;
}

#grille td {
  display: inline-block;
  height: 113px;
  left: 29.5px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 45.6px;
}



/* BARRE DE MESURE */


#grille span.barline {
  bottom: 0.5px;
  height: 77px;
}


/* BARRE DE GAUCHE (ouverture) */

#grille span.barlineDoubleLeft {
  left: -5.5px;
  width: 7px;
}

#grille span.barlineSingleLeft
{
	width : 2px;
	left: -3px;
}

#grille span.barlineRepeatLeft {
  bottom: -3px;
  height: 85px;
  left: -5px;
  width: 14px;
}


/* BARRE DE DROITE (fermeture) */


#grille span.barlineDoubleRight {
  right: -1.5px;
  width: 7px;
}	

#grille span.barlineSingleRight {
  right: 1px;
  width: 2px;
}

#grille span.barlineRepeatRight {
  bottom: -4px;
  height: 85px;
  right: -1.5px;
  transform: rotate(180deg);
  width: 14px;
}

#grille span.barlineFinalRight {
  right: -5px;
  width: 10px;
}


/* ENDING */

#grille span.ending {
  font-family: "MyriadProRegular","Myriad pro","Arial",serif;
  font-size: 25px;
  font-weight: bold;
  height: 23px;
  letter-spacing: 2px;
  padding-left: 5px;
  padding-top: 4px;
  top: 8px;
  width: 119px;
}

#grille span.ending > img {
    left: 0;
    position: absolute;
    top: 0;
}

/* MARKER */
#grille .mark
{
  display: block;
  font-size: 30px;
  font-weight: normal;
  height: 28px;
  line-height: 28px;
  position: absolute;
  text-align: center;
  width: 26px;
  top: 5px;
  z-index: 1000;
  left: -22px;
}

#grille .mark > img {
    left: 0;
    position: absolute;
    top: 0;
}


/* SIGNATURE */

#grille span.nbBeat, #grille span.typeBeat {
  display: block;
  font-family: "MyriadProRegular","Myriad pro","Arial",serif;
  font-size: 46px;
  height: 33px;
  left: -29px;
  letter-spacing: -6px;
  line-height: 33px;
  text-align: center;
  transform: scaleX(0.85);
  width: 21px;
}

#grille span.nbBeat{top:40px;}

#grille span.typeBeat{top:83px;}

#grille span.signatureBar{
  height: 3px;
  left: -26px;
  top: 73px;
  width: 19px;
}

#grille span.signatureBar > img {
    position: absolute;
    top: 0;
    left:0;
}

#grille span.nbBeat.strech, #grille span.typeBeat.strech {
  left: -33px;
  transform: scaleX(0.55);
}

/* SYMBOLES DE ACCORDS : REPEATER, N.C. */


#grille span.rootX {
  height: 37px;
  left: 20px;
  top: 57px;
  width: 46px;
}

#grille span.rootR {
  height: 37px;
  left: 18px;
  top: 57px;
  width: 48px;
}

#grille span.noChord:before {
  content: "N.C.";
  font-family: "MyriadProRegular","Myriad pro","Arial",serif;
  font-size: 42px;
  left: 7px;
  letter-spacing: 1px;
  position: absolute;
  top: 58px;
  transform: scaleX(0.85);
}

/* SYMBOLES CODA SEGNO FERMATA */

#grille span.symbol:before
{
  display: block;
  position: absolute;
  font-family: "BravuraRegular", arial, serif;
}

#grille span.segno:before {
  content: "𝄋";
  font-size: 47px;
  left: 6px;	
  top: 15px;
}

#grille span.coda:before {
	
    content: "𝄌";
    font-size: 37px;
    left: 1px;
    top: 18px;
}

#grille span.fermata:before {
  content: "𝄐";  
  font-size: 61px;    
  left: 7px;
  top: 3px;
}



/* ACCORDS */

#grille span.accord {
  font-family: "MyriadProRegular","Myriad pro","Arial",serif;
  font-size: 69px;
  top: 46px;
  transform: scaleX(0.75);
}

#grille span.accord.accord_A {  left: -2px;}
#grille span.accord.accord_B {  left: 0;	  	transform: scaleX(0.88);}
#grille span.accord.accord_C {  left: -2px;}
#grille span.accord.accord_D {  left: -4px;}
#grille span.accord.accord_E {  left: 2px;		transform: scaleX(0.95);}
#grille span.accord.accord_F {  left: 2px;		transform: scaleX(0.95);}
#grille span.accord.accord_G {  left: -2px;}




/* BASSE DES ACCORDS */

#grille span.accordbasse {
    font-family: "MyriadProRegular","Myriad pro","Arial",serif;
    font-size: 42px;
    left: 28px;
    top: 101px;
    transform: scaleX(0.75);
}

#grille span.accordbasse.accord_A {  left: 28px;}
#grille span.accordbasse.accord_B {  left: 30px;  	transform: scaleX(0.88);}
#grille span.accordbasse.accord_C {  left: 28px;}
#grille span.accordbasse.accord_D {  left: 26px; 	font-size: 41px;}
#grille span.accordbasse.accord_E {  left: 32px;	transform: scaleX(0.95);}
#grille span.accordbasse.accord_F {  left: 32px;	transform: scaleX(0.95);}
#grille span.accordbasse.accord_G {  left: 28px;}


#grille span.accordbassebemol span.symbol♭,
#grille span.accordbassebemol span.symbol♯
{
	font-family: "BravuraRegular", arial, serif;	
}

#grille span.accordbassebemol span.symbol♭ {
    font-size: 35px;
    left: 52px;
    top: 101px;
}

#grille span.accordbassebemol span.symbol♯ {
    font-size: 34px;
    left: 51px;
    top: 96px;
}


#grille span.accordbasseSeparator {
    left: 16px;
    top: 98px;
}

#grille span.accordbasseSeparator > img{
    display: block;
    width: 21px;
    height: 22px;
}




/* ACCORDS BEMOL ET DIESE */

#grille span.accordbemol span.symbol♭,
#grille span.accordbemol span.symbol♯
{
	font-family: "BravuraRegular", arial, serif;	
}

#grille span.accordbemol span.symbol♭ {
    font-size: 58px;
    left: 36px;
    top: 32px;
}

#grille span.accordbemol span.symbol♯ {
    font-size: 61px;
    left: 35px;
    top: 23px;
}



/* QUALITE DES ACCORDS */


#grille span.accordquality
{
 font-family: "MyriadProRegular","Myriad pro","Arial",serif;	
}
 
#grille span.accordquality span.symbolØ 	{  font-size: 29px;  font-weight: bold;  left: 38px;  top: 78px;}
#grille span.accordquality span.symbol° 	{  font-size: 66px;  font-weight: bold;  left: 37px;  top: 76px;}
#grille span.accordquality span.symbol- 	{  font-size: 33px;  top:73px;	 font-weight: bold;  left: 36px; }
#grille span.accordquality span.symbolplus 	{  font-size: 38px;	 font-weight: bold;  left: 37px;  top: 70px;}
#grille span.accordquality span.symbol∆ 	{  font-size: 35px;	 left: 37px;  top: 74px;}
#grille span.accordquality span.symboladd 	{  font-size: 33px;  left: 28px;  letter-spacing: 0;  top: 77px;  transform: scaleX(0.7);}
#grille span.accordquality span.symbolsus 	{  font-size: 33px;  left: 32px;  letter-spacing: 0;  top: 77px;  transform: scaleX(0.8);}
#grille span.accordquality span.symbolalt 	{  font-size: 34px;	 left: 50px;  letter-spacing: 0;  top: 78px;  transform: scaleX(0.9);}
#grille span.accordquality span.chiffre 	{  font-size: 40px;  left: 36px;  letter-spacing: 0;  top: 73px;}
#grille span.accordquality span.bar 		{  background: black none repeat scroll 0 0;	height: 3px;	left: 35px;	top: 89px;	transform: rotate(-55deg);		width: 37px;}
#grille span.accordquality span.symbol♯		{  font-family: "BravuraRegular", arial, serif; font-size: 39px; }
#grille span.accordquality span.symbol♭ 	{  font-family: "BravuraRegular",arial,serif;  	font-size: 40px;	left: 56px;	 top: 63px;}

#grille span.accordquality.quality_∆7 span.chiffre{  left: 56px;}
#grille span.accordquality.quality_–7 span.chiffre{  left: 50px;}
#grille span.accordquality.quality_–6 span.chiffre{  left: 52px; transform: scaleX(0.9);}
#grille span.accordquality.quality_°7 span.chiffre{  left: 55px;}
#grille span.accordquality.quality_Ø7 span.chiffre{  left: 56px;}
#grille span.accordquality.quality_∆9 span.chiffre{  left: 56px;}
#grille span.accordquality.quality_add9 span.chiffre{ left: 70px;    transform: scaleX(0.7);}
#grille span.accordquality.quality_7sus span.symbolsus{ left: 47px;  }
#grille span.accordquality.quality_∆13 span.chiffre:nth-child(2){ left: 52px; transform: scaleX(0.9);}
#grille span.accordquality.quality_∆13 span.chiffre:nth-child(3){ left: 64px; transform: scaleX(0.9);}
#grille span.accordquality.quality_69 span.chiffre:nth-child(2){ font-size: 30px;    left: 37px;}
#grille span.accordquality.quality_69 span.chiffre:nth-child(3){ font-size: 30px;    left: 55px;    top: 85px;    transform: scaleX(0.9);}
#grille span.accordquality.quality_–69 span.bar{   left: 47px;    top: 88px;}
#grille span.accordquality.quality_–69 span.chiffre:nth-child(3){ font-size: 26px;    left: 53px;    top: 72px;}
#grille span.accordquality.quality_–69 span.chiffre:nth-child(4){ font-size: 26px;    left: 67px;    top: 83px;    transform: scaleX(0.9);}
#grille span.accordquality.quality_–9 span.chiffre{	left: 53px;    transform: scaleX(0.9);}
#grille span.accordquality.quality_∆7♯11 span.symbol∆:nth-child(1){ left: 35px; top: 73px; transform: scaleX(0.9);}    
#grille span.accordquality.quality_∆7♯11 span.chiffre:nth-child(2){ left: 47px; transform: scaleX(0.9);}
#grille span.accordquality.quality_∆7♯11 span.symbol♯:nth-child(3){ left: 62px; top: 77px;}
#grille span.accordquality.quality_∆7♯11 span.chiffre:nth-child(4){ left: 65px; transform: scaleX(0.9);}
#grille span.accordquality.quality_∆7♯11 span.chiffre:nth-child(5){ left: 75px; transform: scaleX(0.9);}
#grille span.accordquality.quality_∆9♯11 span.symbol∆:nth-child(1){ left: 35px; top: 73px; transform: scaleX(0.9);}    
#grille span.accordquality.quality_∆9♯11 span.chiffre:nth-child(2){ left: 46px; transform: scaleX(0.7);}
#grille span.accordquality.quality_∆9♯11 span.symbol♯:nth-child(3){ left: 63px; top: 77px;}
#grille span.accordquality.quality_∆9♯11 span.chiffre:nth-child(4){ left: 65px; transform: scaleX(0.9);}
#grille span.accordquality.quality_∆9♯11 span.chiffre:nth-child(5){ left: 75px; transform: scaleX(0.9);}
#grille span.accordquality.quality_7♯5 span.chiffre:nth-child(3){ left:65px;}
#grille span.accordquality.quality_7♯5 span.symbol♯:nth-child(2){ left: 54px; top: 84px;} 
#grille span.accordquality.quality_∆7♯5 span.symbol∆:nth-child(1){ left: 35px; top: 73px; transform: scaleX(0.9);}    
#grille span.accordquality.quality_∆7♯5 span.chiffre:nth-child(2){ left: 49px; transform: scaleX(0.9);}
#grille span.accordquality.quality_∆7♯5 span.symbol♯:nth-child(3){ left: 65px; top: 77px;}
#grille span.accordquality.quality_∆7♯5 span.chiffre:nth-child(4){ left: 72px; transform: scaleX(0.9);}
#grille span.accordquality.quality_–∆7 span.symbol∆:nth-child(2),
#grille span.accordquality.quality_–∆9 span.symbol∆:nth-child(2){ font-size: 33px;   left: 53px;   top: 70px;   transform: scaleX(0.9);}
#grille span.accordquality.quality_–∆7 span.chiffre:nth-child(3),
#grille span.accordquality.quality_–∆9 span.chiffre:nth-child(3){ left:70px;}
#grille span.accordquality.quality_–11 span.chiffre:nth-child(2){ left:51px;}
#grille span.accordquality.quality_–11 span.chiffre:nth-child(3){ left:65px;}
#grille span.accordquality.quality_–7♭5 span.chiffre:nth-child(2){ left:43px;}
#grille span.accordquality.quality_–7♭5 span.symbol♭:nth-child(3){ font-size: 45px; left: 64px;  top: 74px;}
#grille span.accordquality.quality_–7♭5 span.chiffre:nth-child(4){ left:71px;}
#grille span.accordquality.quality_Ø9 span.chiffre{left:58px;}     
#grille span.accordquality.quality_–♭6 span.chiffre{  left: 63px; transform: scaleX(0.9);}
#grille span.accordquality.quality_–♭6 span.symbol♭:nth-child(2){ left:55px; top:69px;} 
#grille span.accordquality.quality_–♯5 span.chiffre{  left: 60px; transform: scaleX(0.7);} 
#grille span.accordquality.quality_–♯5 span.symbol♯:nth-child(2){ left: 54px; top: 68px;}   
#grille span.accordquality.quality_7♭9 span.chiffre:nth-child(3){ left:65px;}
#grille span.accordquality.quality_7♭5 span.chiffre:nth-child(3){ left:65px;} 
#grille span.accordquality.quality_9♭5 span.symbol♭:nth-child(2),
#grille span.accordquality.quality_7♭13 span.symbol♭:nth-child(2),
#grille span.accordquality.quality_7♭5 span.symbol♭:nth-child(2),
#grille span.accordquality.quality_7♭9 span.symbol♭:nth-child(2){ font-size: 48px;    left: 56px;    top: 74px;}
#grille span.accordquality.quality_7♯9 span.symbol♯:nth-child(2){ left: 54px; top: 76px;} 
#grille span.accordquality.quality_7♯9 span.chiffre:nth-child(3){ left:65px;}
#grille span.accordquality.quality_7♯11 span.symbol♯:nth-child(2){ left: 54px; top: 76px;} 
#grille span.accordquality.quality_7♯11 span.chiffre:nth-child(3){ left:61px;}
#grille span.accordquality.quality_7♯11 span.chiffre:nth-child(4){ left:72px;}
#grille span.accordquality.quality_9♭5 span.chiffre:nth-child(3){ left:65px;} 
#grille span.accordquality.quality_9♯5 span.chiffre:nth-child(3){ left:65px;}
#grille span.accordquality.quality_9♯5 span.symbol♯:nth-child(2){ left: 56px; top: 76px;} 
#grille span.accordquality.quality_7♭13 span.chiffre:nth-child(3){ left:62px;}
#grille span.accordquality.quality_7♭13 span.chiffre:nth-child(4){ left:72px;  transform: scaleX(0.8);}
#grille span.accordquality.quality_7♭9♭5 span.symbol♭:nth-child(4),
#grille span.accordquality.quality_7♯9♭5 span.symbol♭:nth-child(4){top:89px;}
#grille span.accordquality.quality_7♭9♭13 span.symbol♭:nth-child(4){left: 53px; top:89px;}
#grille span.accordquality.quality_7♯9♯5 span.symbol♯:nth-child(2),
#grille span.accordquality.quality_7♯9♭5 span.symbol♯:nth-child(2),
#grille span.accordquality.quality_7♯9♯11 span.symbol♯:nth-child(2){ left: 56px; top: 60px;} 
#grille span.accordquality.quality_7♯9♯5 span.symbol♯:nth-child(4),
#grille span.accordquality.quality_7♭9♯5 span.symbol♯:nth-child(4),
#grille span.accordquality.quality_7♭9♯9 span.symbol♯:nth-child(4){ left: 56px; top: 86px;} 
#grille span.accordquality.quality_7♯9♯11 span.symbol♯:nth-child(4),
#grille span.accordquality.quality_7♭9♯11 span.symbol♯:nth-child(4){ left: 52px; top: 86px;} 
#grille span.accordquality.quality_7♯9♯5 span.chiffre:nth-child(3),
#grille span.accordquality.quality_7♯9♭5 span.chiffre:nth-child(3),
#grille span.accordquality.quality_7♯9♯11 span.chiffre:nth-child(3),
#grille span.accordquality.quality_7♭9♯11 span.chiffre:nth-child(3),
#grille span.accordquality.quality_7♭9♭5 span.chiffre:nth-child(3),
#grille span.accordquality.quality_7♭9♯5 span.chiffre:nth-child(3),
#grille span.accordquality.quality_7♭9♯9 span.chiffre:nth-child(3),
#grille span.accordquality.quality_7♭9sus span.chiffre:nth-child(3),
#grille span.accordquality.quality_7♭9♭13 span.chiffre:nth-child(3){font-size: 35px;  left: 66px;    top: 65px;}
#grille span.accordquality.quality_7♯9♯5 span.chiffre:nth-child(5),
#grille span.accordquality.quality_7♯9♭5 span.chiffre:nth-child(5),
#grille span.accordquality.quality_7♭9♭5 span.chiffre:nth-child(5),
#grille span.accordquality.quality_7♭9♯5 span.chiffre:nth-child(5){font-size: 35px;  left: 66px;    top: 91px;}
#grille span.accordquality.quality_7♭9♯9 span.chiffre:nth-child(5){font-size: 35px;  left: 66px;    top: 91px;}
#grille span.accordquality.quality_7♭9♭13 span.chiffre:nth-child(5),
#grille span.accordquality.quality_7♯9♯11 span.chiffre:nth-child(5),
#grille span.accordquality.quality_7♭9♯11 span.chiffre:nth-child(5){font-size: 35px;  left: 60px;    top: 91px;}
#grille span.accordquality.quality_7♭9♭13 span.chiffre:nth-child(6){font-size: 35px;  left: 69px;    top: 91px; transform: scaleX(0.8);}
#grille span.accordquality.quality_7♯9♯11 span.chiffre:nth-child(6),
#grille span.accordquality.quality_7♭9♯11 span.chiffre:nth-child(6){font-size: 35px;  left: 70px;    top: 91px;}
#grille span.accordquality.quality_13 span.chiffre:nth-child(2),
#grille span.accordquality.quality_11 span.chiffre:nth-child(2){ left:49px;}
#grille span.accordquality.quality_13♯11 span.chiffre:nth-child(1){ left:32px;}
#grille span.accordquality.quality_13♯11 span.chiffre:nth-child(2){ left:42px; 	transform: scaleX(0.8);}
#grille span.accordquality.quality_13♯11 span.chiffre:nth-child(4){ left:65px;}
#grille span.accordquality.quality_13♯11 span.chiffre:nth-child(5){ left:75px;}
#grille span.accordquality.quality_13♯11 span.symbol♯:nth-child(3),
#grille span.accordquality.quality_13♯9 span.symbol♯:nth-child(3){ left: 60px; top: 76px;} 
#grille span.accordquality.quality_13♭9 span.chiffre:nth-child(1){ left:32px;}
#grille span.accordquality.quality_13♭9 span.chiffre:nth-child(2){ left:42px; 	transform: scaleX(0.8);}
#grille span.accordquality.quality_13♭9 span.symbol♭:nth-child(3){ font-size: 48px;    left: 60px;    top: 74px;}
#grille span.accordquality.quality_13♭9 span.chiffre:nth-child(4){ left:69px; 	transform: scaleX(0.8);}
#grille span.accordquality.quality_13♯9 span.chiffre:nth-child(1){ left:32px;}
#grille span.accordquality.quality_13♯9 span.chiffre:nth-child(2){ left:42px; 	transform: scaleX(0.8);}
#grille span.accordquality.quality_13♯9 span.chiffre:nth-child(4){ left:69px; 	transform: scaleX(0.8);}
#grille span.accordquality.quality_7♭9sus span.symbolsus:nth-child(4){left:46px; top:86px;}
#grille span.accordquality.quality_7susadd3 span.symbolsus:nth-child(2){left: 46px;   top: 83px;}
#grille span.accordquality.quality_7susadd3 span.symboladd:nth-child(3){font-size: 22px;   left: 49px;    top: 71px;}
#grille span.accordquality.quality_7susadd3 span.chiffre:nth-child(4){font-size: 22px;     left: 79px;    top: 71px;}
#grille span.accordquality.quality_9sus span.symbolsus:nth-child(2){left: 49px;   top: 79px;}
#grille span.accordquality.quality_13sus span.chiffre:nth-child(1){ left:32px;}
#grille span.accordquality.quality_13sus span.chiffre:nth-child(2){ left:42px; 	transform: scaleX(0.8);}
#grille span.accordquality.quality_13sus span.symbolsus:nth-child(3){ left: 54px;  letter-spacing: -2px; top: 79px;}
#grille span.accordquality.quality_7♭13sus span.chiffre:nth-child(3){font-size: 35px;  left: 63px;    top: 65px;}
#grille span.accordquality.quality_7♭13sus span.chiffre:nth-child(4){font-size: 35px;  left: 72px;    top: 65px; transform: scaleX(0.8);}
#grille span.accordquality.quality_7♭13sus span.symbolsus:nth-child(5){left: 46px;   top: 87px;}



/* TEXTE DES ACCORDS */

#grille span.accordtexte
{
    font-family: "HelveticaRegular", Helvetica,Arial,Tahoma,sans-serif;
    font-size: 29px;
    left: 35px;
    top: 76px;
}




/* ACCORDS ALTERNATIFS */
#grille div.accordAlternatif {
    left: 6px;
    position: absolute;
    top: -24px;
    transform: scale(0.59);
}

#grille div.accordAlternatif  span.accordtexte
{
   left: 41px;
    top: 80px;
    transform: scale(1.15);
}
   
    
#grille div.accordAlternatif  span.accordbassebemol span.symbol♯
{
	left: 62px;
}

#grille div.accordAlternatif  span.accordbassebemol span.symbol♭
{
	left: 63px;
}

#grille div.accordAlternatif  span.accordbasseSeparator {
    left: 25px;
    top: 97px;
    transform: scale(1.2) rotate(9deg);
}

#grille div.accordAlternatif span.accord{top:50px;}

#grille div.accordAlternatif span.accordbasse.accord_A {  left: 39px;}
#grille div.accordAlternatif span.accordbasse.accord_B {  left: 41px;	  	transform: scaleX(0.88);}
#grille div.accordAlternatif span.accordbasse.accord_C {  left: 41px;}
#grille div.accordAlternatif span.accordbasse.accord_D {  left: 37px;}
#grille div.accordAlternatif span.accordbasse.accord_E {  left: 42px;		transform: scaleX(0.95);}
#grille div.accordAlternatif span.accordbasse.accord_F {  left: 42px;		transform: scaleX(0.95);}
#grille div.accordAlternatif span.accordbasse.accord_G {  left: 38px;}






/* ACCORDS SMALL */


#grille .taille_small span.noChord:before{
	left : -16px;
	transform: scaleX(0.55);
}

#grille .taille_small div.accordRegulier{
 	left: -1px;
    position: absolute;
    transform: scaleX(0.7);
}

#grille .taille_small div.accordRegulier span.accordtexte
{
	left: 44px;
    transform: scaleX(1.35);
}

#grille .taille_small span.accordbasseSeparator
{
	left: 12px;
    top: 99px;
}

#grille .taille_small span.accordbasse.accord_A {  left: 22px;}
#grille .taille_small span.accordbasse.accord_B {  left: 24px;	  	transform: scaleX(0.88);}
#grille .taille_small span.accordbasse.accord_C {  left: 22px;}
#grille .taille_small span.accordbasse.accord_D {  left: 22px;}
#grille .taille_small span.accordbasse.accord_E {  left: 22px;		transform: scaleX(0.95);}
#grille .taille_small span.accordbasse.accord_F {  left: 22px;		transform: scaleX(0.95);}
#grille .taille_small span.accordbasse.accord_G {  left: 22px;}
    
#grille .taille_small  span.accordbassebemol span.symbol♯
{
	left: 44px;
	top:97px;
}

#grille .taille_small  span.accordbassebemol span.symbol♭
{
	left: 44px;
}


/* COMMENTAIRE */
#grille span.commentaire
{
    font-family: "HelveticaRegular",Helvetica,Arial,Tahoma,sans-serif;
    font-size: 32px;
    height: 0;
    left: -4px;
    white-space: nowrap;
	letter-spacing: -0.4px;
}


